.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10vh 10vw 0 10vw;
    gap: 5vh;
    &__social {
        display: flex;
        gap: 8px;
        img {
            width: 24px;
        }
    }
    &__nav {
        border-bottom: 1px solid #8d8d8d;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 10px;
        gap: 16px;
        &__item {
            color: $primary-color;
            width: 20%;
            text-align: center;
        }
    }
    &__copy {
        text-align: center;
    }
}

@media all and (max-width: 768px){
    .footer {
        &__nav {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        &__item {
            width: auto;
        }    
        &__logo {
            order: -1;
        }
    }
}
}

@media all and (max-width: 480px){
    .footer__social {
        justify-content: center;
    }
}