.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
    &__social {
        display: flex;
        gap: 4px;
    }
    &__nav {
        border-bottom: 1px solid #8d8d8d;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        padding-bottom: 10px;
        &__item {
            color: $primary-color;
            width: 20%;
            text-align: center;
        }
    }
}

@media all and (max-width: 768px){
    .footer {
        &__nav {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        &__item {
            width: auto;
        }    
        &__logo {
            order: -1;
        }
    }
}
}