.navbar {
    background-color: $primary-color;
    padding: 20px 10%;
}

.navbar-nav {
    align-items: center;
    gap: 16px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    width: fit-content;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: $accent_color;
}

.navbar-dark .navbar-nav .nav-link.button {
    padding: 8px;
}

.navbar-dark .navbar-nav .nav-link.button:hover {
    color: $accent_color;
}

.logo {
    max-width: 120px;
}

@media all and (max-width: 992px){
    .navbar-collapse {
        padding-top: 20px;
    }
}