a {
    text-decoration: none;
    font-size: 1.6rem;
    width: fit-content;
    transition: all 200ms;
}

a:hover {
    color: $accent-color;
}

.button {
    color:white;
    font-weight: bolder;
    background-color: $accent-color;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $accent-color;
    height: fit-content;
}

.button:hover{
    background-color: white ;
    color: $accent-color;
}